In [7]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv("DetailedPlayerStats.csv")

In [9]:
df.head()

,Id,WebName,FirstName,SecondName,DreamTeam,SelectedBy,Position,Team,FixtureWeek1,Opponent1,...,Tackles,AttemptedPasses,PassesCompleted,BigChancesMissed,ErrorsToGoal,ErrorsToGoalAttempt,Tackled,Offside,Fouls,Dribbles
0,1.0,Ospina,David,Ospina,False,0.2,Goalkeeper,Arsenal,Gameweek 34,Newcastle,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,Ospina,David,Ospina,False,0.2,Goalkeeper,Arsenal,Gameweek 34,Newcastle,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,Ospina,David,Ospina,False,0.2,Goalkeeper,Arsenal,Gameweek 34,Newcastle,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,Ospina,David,Ospina,False,0.2,Goalkeeper,Arsenal,Gameweek 34,Newcastle,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,Ospina,David,Ospina,False,0.2,Goalkeeper,Arsenal,Gameweek 34,Newcastle,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df.columns

Index([u'Id', u'WebName', u'FirstName', u'SecondName', u'DreamTeam',
       u'SelectedBy', u'Position', u'Team', u'FixtureWeek1', u'Opponent1',
       u'HomeAway1', u'FixtureWeek2', u'Opponent2', u'HomeAway2',
       u'FixtureWeek3', u'Opponent3', u'HomeAway3', u'GameWeek', u'Points',
       u'Cost', u'NetTransfers', u'MinutesPlayed', u'Goals', u'Assists',
       u'CleanSheet', u'Bonus', u'YellowCards', u'RedCards', u'GoalsConceded',
       u'Crosses', u'BigChancesCreated', u'ClearancesBlocksIntercepts',
       u'Recoveries', u'KeyPasses', u'Tackles', u'AttemptedPasses',
       u'PassesCompleted', u'BigChancesMissed', u'ErrorsToGoal',
       u'ErrorsToGoalAttempt', u'Tackled', u'Offside', u'Fouls', u'Dribbles'],
      dtype='object')

In [11]:
%%capture
df.drop(df.columns[[0,2,3,4]], axis=1, inplace=True)
df.drop(df.columns[[x for x in range(3,15)]], axis=1, inplace=True)

In [12]:
g=df.groupby(u'WebName')
df2=g.aggregate(np.mean)
df2.head()

,Id,SelectedBy,Points,Cost,NetTransfers,MinutesPlayed,Goals,Assists,CleanSheet,Bonus,...,Tackles,AttemptedPasses,PassesCompleted,BigChancesMissed,ErrorsToGoal,ErrorsToGoalAttempt,Tackled,Offside,Fouls,Dribbles
WebName,,,,,,,,,,,,,,,,,,,,,
Aarons,467.0,0.1,0.15625,43.656250,-252.375000,4.250000,0.000000,0.000000,0.000000,0.000000,...,0.125000,1.281250,0.875000,0.000000,0.000000,0.000000,0.250000,0.031250,0.031250,0.125000
Abraham,374.0,3.5,2.53125,56.343750,-346.968750,49.468750,0.156250,0.093750,0.125000,0.343750,...,0.218750,8.906250,6.156250,0.125000,0.000000,0.000000,1.968750,0.250000,0.437500,0.812500
Adam,338.0,0.1,0.30303,47.545455,-132.575758,12.272727,0.000000,0.000000,0.060606,0.000000,...,0.090909,7.424242,4.787879,0.030303,0.030303,0.030303,0.151515,0.000000,0.242424,0.333333
Adam Smith,35.0,0.5,1.69697,48.303030,-816.696970,62.636364,0.030303,0.090909,0.060606,0.090909,...,0.848485,27.272727,22.545455,0.000000,0.000000,0.000000,0.969697,0.030303,0.696970,0.848485
Adarabioyo,586.0,0.0,0.00000,40.000000,114.153846,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
df2.describe()

,Id,SelectedBy,Points,Cost,NetTransfers,MinutesPlayed,Goals,Assists,CleanSheet,Bonus,...,Tackles,AttemptedPasses,PassesCompleted,BigChancesMissed,ErrorsToGoal,ErrorsToGoalAttempt,Tackled,Offside,Fouls,Dribbles
count,611.00000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,...,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000,611.000000
mean,320.12230,2.369604,1.350845,51.996895,420.378373,32.213366,0.043877,0.039299,0.107396,0.104787,...,0.270101,14.713883,11.581061,0.032924,0.005243,0.009432,0.524009,0.069610,0.338840,0.317568
std,182.00135,5.203923,1.357213,12.659954,7902.416543,29.304038,0.097014,0.070455,0.117102,0.159544,...,0.319000,15.721768,13.219802,0.073055,0.016333,0.022205,0.741553,0.156641,0.380249,0.487391
min,1.00000,0.000000,0.000000,39.093750,-36859.468750,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,165.50000,0.100000,0.062500,44.420168,-702.652936,1.369318,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.600379,0.468750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,322.00000,0.400000,1.093750,48.406250,-18.500000,30.750000,0.000000,0.000000,0.090909,0.020833,...,0.156250,11.625000,8.107692,0.000000,0.000000,0.000000,0.187500,0.000000,0.218750,0.093750
75%,473.50000,2.300000,2.261364,54.476799,434.537500,55.197443,0.060606,0.060606,0.181818,0.156250,...,0.454545,24.092330,18.423059,0.031250,0.000000,0.000000,0.784564,0.062500,0.593750,0.437500
max,641.00000,56.600000,8.272727,127.562500,110013.285714,90.000000,0.878788,0.531250,0.500000,0.857143,...,1.909091,90.187500,82.781250,0.606061,0.187500,0.156250,4.545455,1.062500,2.125000,4.156250

In [18]:
df2[ df2['Points'] > 5 ]

,Id,SelectedBy,Points,Cost,NetTransfers,MinutesPlayed,Goals,Assists,CleanSheet,Bonus,...,Tackles,AttemptedPasses,PassesCompleted,BigChancesMissed,ErrorsToGoal,ErrorsToGoalAttempt,Tackled,Offside,Fouls,Dribbles
WebName,,,,,,,,,,,,,,,,,,,,,
Ag�ero,257.0,13.9,5.281250,116.718750,13607.125000,61.250000,0.656250,0.187500,0.406250,0.687500,...,0.156250,19.656250,16.250000,0.406250,0.0,0.0,2.250000,0.500000,0.312500,1.718750
Aubameyang,616.0,13.8,6.428571,105.428571,110013.285714,87.142857,0.857143,0.142857,0.285714,0.857143,...,0.428571,18.714286,13.714286,0.571429,0.0,0.0,0.714286,1.000000,0.142857,0.857143
De Bruyne,252.0,23.3,5.906250,101.718750,-5663.093750,83.593750,0.218750,0.531250,0.500000,0.781250,...,0.781250,73.687500,61.718750,0.093750,0.0,0.0,2.031250,0.062500,0.843750,1.687500
Eriksen,387.0,16.2,5.531250,94.312500,14115.250000,83.687500,0.312500,0.281250,0.468750,0.718750,...,0.593750,58.562500,48.218750,0.062500,0.0,0.0,2.656250,0.031250,0.375000,0.687500
Firmino,235.0,43.6,5.030303,88.454545,40626.424242,72.212121,0.424242,0.242424,0.393939,0.818182,...,1.090909,30.181818,21.757576,0.151515,0.0,0.0,2.515152,0.303030,1.545455,1.333333
Kane,394.0,31.0,5.656250,127.562500,37231.937500,79.375000,0.750000,0.062500,0.406250,0.843750,...,0.375000,16.906250,12.218750,0.468750,0.0,0.0,3.031250,1.062500,0.968750,1.218750
Mahrez,199.0,13.9,5.187500,85.500000,16748.625000,75.250000,0.312500,0.343750,0.250000,0.562500,...,0.343750,32.875000,26.031250,0.125000,0.0,0.0,3.656250,0.312500,0.625000,2.062500
Salah,234.0,56.6,8.272727,98.212121,49305.878788,74.818182,0.878788,0.333333,0.363636,0.787879,...,0.181818,25.151515,19.515152,0.545455,0.0,0.0,3.636364,0.484848,0.424242,2.030303
Son,390.0,18.2,5.031250,80.281250,44651.468750,62.437500,0.375000,0.187500,0.375000,0.500000,...,0.281250,25.406250,21.687500,0.250000,0.0,0.0,2.375000,0.750000,0.406250,1.781250